@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(252, 0, 255);
    background: -moz-linear-gradient(90deg, rgba(252, 0, 255, 1) 0%, rgb(84, 0, 240, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(252, 0, 255, 1) 0%, rgba(84, 0, 240, 1) 100%);
    background: linear-gradient(90deg, rgba(252, 0, 255, 1) 0%, rgb(84, 0, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc00ff",endColorstr="#5400f0",GradientType=1);

    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 5px #00000030;

    width: 400px;
    max-width: 100%;
    overflow: hidden;
}

.container header {
    background-color: #fff;
    padding: 20px;
}

.form-container {
    padding: 20px;
}

.form-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-item label {
    display: inline-block;
    margin: 5px;
}

.form-item input {
    display: block;
    border-radius: 10px;
    font-size: 0.875rem;
    border: 2px solid #f0f0f0;
    width: 100%;
    padding: 10px;
}

.form-item i {
    position: absolute;
    top: 50px;
    right: 10px;
    visibility: hidden;
}

.form-item small {
    color: red;
    position: absolute;
    bottom: -10px;
    left: 11px;
    visibility: hidden;
}
