@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(252, 0, 255);
    background: -moz-linear-gradient(90deg, rgba(252, 0, 255, 1) 0%, rgb(84, 0, 240, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(252, 0, 255, 1) 0%, rgba(84, 0, 240, 1) 100%);
    background: linear-gradient(90deg, rgba(252, 0, 255, 1) 0%, rgb(84, 0, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc00ff",endColorstr="#5400f0",GradientType=1);

    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form .container {
}
